body {
    background-image: url("/img/courtroom.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
}
#body-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: snow;
    border-radius: 2rem;
    box-shadow: 0 0 2rem black;
}

a {
    text-decoration: none;
}

#header {
    text-align: center;
    font-size: 150%;
}

.series {
    max-width: 60rem;
    margin: 3rem 0;
}
.series-title {
    font-size: 180%;
    color: white;
    background-color: indigo;
    border-radius: 0.8rem 0.8rem 0 0;
    text-align: center;
    padding: 0.2rem;
}

.char-id {
    display: flex;
    align-items: stretch;
}
.char-id-mug {
    flex: initial;
}
.char-id-text {
    font-weight: normal;
    color: yellow;
    background-color: rgb(36, 36, 36);
    border-radius: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
    padding: 0 1rem;
}
.char-line-text,
.char-line-langs {
    padding: 0.5rem 0;
}
.char-line-text {
    float: left;
    clear: left;
    font-weight: bold;
    min-width: 7rem;
}
.char-line-play {
    margin: 0 1rem;
}

footer {
    border-top: 1px solid grey;
}
#footer-menu {
    text-align: center;
    padding: 0;
}
#footer-menu li {
    display: inline;
}